@import url(//fonts.googleapis.com/css?family=Asap:400,700);

@font-face {
    font-family: 'Asap', sans-serif;
}


.metrics{
	background-color:#1F1F23;
	width: 100%;
	margin: 0px;
	text-align: center;
	height: 1000px;
  padding-bottom: 150px;
  overflow-y: scroll;
  box-sizing: border-box;
}


#container-preview{
  width: 1153px;
  height: auto;
  padding-bottom: 20px;
  margin: auto;
  text-align: left;
  background:white;
  border-radius: 0px 0px 6px 6px;
  display: block;
  overflow: hidden;
  position: relative;
  top: 50px;
  box-sizing: border-box;
  transition: .4s;
}

#container-preview #textchange{
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  background:transparent;
  border-radius: 6px;
  font-size: 16px;
  color: black;
  display: block;
  padding: 10px;
  padding-top: 40px;
  height: auto;
  box-sizing: border-box;
  outline: none !important;
  transition: .4s;
}

/* --------- transform */
#container-preview #textchange.normalText{
  text-transform: none;
}

#container-preview #textchange.uppercaseText{
  text-transform: uppercase;
}

#container-preview #textchange.lowercaseText{
  text-transform: lowercase;
}

/* --------- font size */

#container-preview #textchange.smallSize{
    font-size: 11px;
}
#container-preview #textchange.mediumSize{
    font-size: 15px;
}
#container-preview #textchange.largeSize{
    font-size: 30px;
}
#container-preview #textchange.xxlSize{
    font-size: 45px;
}

/* --------- text align */

#container-preview #textchange.leftAligment{
    text-align: left;
}

#container-preview #textchange.centerAligment{
    text-align: center;
}

#container-preview #textchange.rightAligment{
    text-align: right;
}


/* --------- background */

.darkBackground{
  background: #0F1116 !important;
  color: white !important;
}

#container-preview #textchange.whiteText{
  color: white !important;
}

#container-preview #textchange strong{
	font-size: 2em;
}

[contenteditable="true"]:hover{
	padding: 0px;

  box-sizing: border-box;
  outline: none !important;
}

span.divider{
	width: 150%;
	height: 1px;
	margin: auto;
	background:rgba(0,0,0,.2);
	display:block;
	float: left;
	left: 0px;
	position: relative;
	left: -90px;
}

/* ---------------------------------------------------------------------- metrics */


section#rule{
	width: 1153px;
  height: 100px;
  padding-bottom: 20px;
  margin: auto;
  text-align: left;
  background:white;
  border-radius: 6px 6px 0px 0px ;
  display: flex;
  overflow: hidden;
  top: 49px;
  position: relative;
  padding-left: 58px;
  padding-top: 27px;
  padding-right: 58px;
  box-sizing: border-box;
}

/* ------------------------------ text styles */

ul.Text-style{
  width: 145px;
  display: inline-block;
	margin-top:7px;
	padding: 0px;
	left: 0px;
  height:30px;
  margin-right: 20px;
}

ul.Text-style li.button-normal{
	list-style: none;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	background-color: transparent;
	cursor: pointer;
	transition: .5s;
  margin-right: 5px;
}

ul.Text-style li.button-normal.active-style{
	background-color: #7A8FFF !important;
}

ul.Text-style li.button-normal#normal{
	background: url('../assets/Normal_black.svg') no-repeat;
	background-position: center;
}

ul.Text-style li.button-normal.active-style#normal{
	background: url('../assets/Normal_white.svg') no-repeat;
	background-position: center;
}

ul.Text-style li.button-normal#uppercase{
	background: url('../assets/Uppercase_black.svg') no-repeat;
	background-color: transparent;
	background-position: center;
}

ul.Text-style li.button-normal.active-style#uppercase{
	background: url('../assets/Uppercase_white.svg') no-repeat;
	background-position: center;
}


ul.Text-style li.button-normal#lowercase{
	background: url('../assets/Lowercase_black.svg') no-repeat;
	background-color: transparent;
	background-position: center;
}


ul.Text-style li.button-normal.active-style#lowercase{
  background: url('../assets/Lowercase_white.svg') no-repeat;
	background-position: center;
}






/* ------------------------------ text alignment */

ul.aligment{
  display: block;
  padding: 0px !important;
  width: 150px;
  position: relative;
  margin-left: 20px;
  top: -5px;
}

ul.aligment li.button-align{
  margin: 0px;
  list-style: none;
  display: inline-block;
  width: 31%;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

ul.aligment li.button-align:last-child{
  position: relative;
  right: -3px;
}


ul.aligment li.button-align#left{
  background: url('../assets/Left_align.svg') no-repeat;
	background-position: left;
}


ul.aligment li.button-align.active-align#left{
  background: url('../assets/Left_align_active.svg') no-repeat ;
  background-position: left;
}


ul.aligment li.button-align#center{
  background: url('../assets/Center_Align.svg') no-repeat;
	background-position: center;
}


ul.aligment li.button-align.active-align#center{
  background: url('../assets/Center_Align_active.svg') no-repeat;
  background-position: center;
}

ul.aligment li.button-align#right{
  background: url('../assets/Rigth_Align.svg') no-repeat;
	background-position: right;
}


ul.aligment li.button-align.active-align#right{
  background: url('../assets/Rigth_Align_active.svg') no-repeat;
	background-position: right;
}



/* ------------------------------ text size */

ul.sizes{
  width: 250px;
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
	margin-top: 5px;
  position: relative;
}

ul.sizes .wrapper{
  width: 85% !important;
  height: 2px;
  margin: 23px 0px 0px 10px;
  background: #EBEBEB;
  text-align: left;
  display: inline-block;
  padding: 0px;
  position: relative;
}

ul.sizes .wrapper .progress{
  display: block;
  height: 2px;
  width: 1%;
  position: absolute;
  float: left;
  background: #7A8FFF;
  transition: .3s;
}

ul.sizes .wrapper .progress.mediumprogress{
  width: 34%;
}

ul.sizes .wrapper .progress.largeprogress{
  width: 65%;
}

ul.sizes .wrapper .progress.xxlprogress{
  width: 98%;
}

ul.sizes li.button-size{
  width: 15px;
  cursor: pointer;
  height: 15px;
  border-radius: 50%;
  display:inline-block;
  margin-right: 22%;
  margin-top: -7px;
  position: relative;
  font-size: 13px;
  font-family: 'Asap', sans-serif;
  text-align: center !important;
  background: #EBEBEB;
  transition: .3s;
}

ul.sizes li.button-size.active-size{
  background: #7A8FFF;
}

ul.sizes .wrapper li.button-size:last-child{
  margin-right:-1px !important;
  position: relative;
  right: -1px;
}

ul.sizes li p{
  position: relative;
  top: -35px;
}

/* ------------------------------ background color */


div.background_button{
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  margin-left: 30px;
  display: inline-block;
  width: 120px;
  height: 30px;
  font-size: 13px;
  width: 190px;
  text-transform: uppercase;
  padding-top: 12px;
  margin-top: 6px;
  float: right;
  position: absolute;
  right: 46px;
}

div.background_button .color_background{
  width: 35px;
  height: 35px;
  float: right;
  position: absolute;
  background: white;
  right: 0px;
  top: 1px;
  border-radius: 50%;
  border:  2px solid rgba(0, 0, 0, 0.2);
  transition: .4s;
}


div.background_button .color_background.dark{
  background: #0F1116;
}
