@import url(//fonts.googleapis.com/css?family=Asap:400,700);

@font-face {
    font-family: 'Asap', sans-serif;
}

/* COLORES

	heyFont: #ff2626;
	textos: #444a4f;
	dark: #1c5c6c;
*/


body{
	background: #ff2626;
	margin: 0px;
	text-align: center;
  left:0px;
  position: relative;
	font-family: 'Asap', sans-serif;
  transition: .4s;
}


#preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,.98);
  z-index:999999999999999999999;
}

#preloader #status{
	width: 100px;
	height: 113px;
	position: absolute;
	margin: auto;
	top: -100px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#preloader #status img{
  width: 100%;
  height: auto;
}

.mobil{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  height: 100%;
  background: rgba(0,0,0,.95);
  z-index: 99999999999999;
}

.mobil .message{
  font-size: 20px;
  color: white;
  font-family: 'Asap', sans-serif;
  font-weight: 100;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 200px;
  display: block;
  height: 400px;
  top:0px;
  margin: auto;
}

.mobil .message img.logohey{
  width: 150px;
  height: auto;
}

/* ---------------------------------------------------------------------- FOLD */

section#home{
	background: url(../assets/bg_fold.jpg) top no-repeat;
	background-position: 0px -132px;
	background-size: cover 100%;
	height:650px;
	margin: auto;
	padding-top: 100px;
	text-align: center;
	width: 100%;
}

section#home .logo{
	height: auto;
	margin: auto;
	left: 0px;
	right: 0px;
	position: absolute;
	top: 90px;
	width: 300px;
}


section#home .logo img{
	width: 100%;
	height: auto;
}

section#home h1{
	color: #0fc587;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	left: 0px;
	right: 0px;
	position: absolute;
	margin: 150px auto 0px auto;
	text-shadow:0px 0px 12px white;
	width: 384px;
}

section#home .description{
	color: #444a4f;
	display: block;
	font-size: 18px;
	font-weight: 400 !important;
	left: 0px;
	right: 0px;
	position: absolute;
	margin-top: 250px;
}

.figure{
	width: 100%;
	height: 90px;
	margin-top: -219px;
	overflow: hidden;
	position: absolute;
}

.figure span.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 300px 75px 300px;
	margin: auto;
	top: -3px;
	position: relative;
	border-color: transparent transparent #ff2626 transparent;
}

/* ---------------------------------------------------------------------- NAV */


ul#nav{
  background: rgba(255,255,255,.87);
  border-bottom: solid 1px rgba(0,0,0,.1);
	height: 60px;
	position: fixed;
	top: -17px;
	width: 100%;
	z-index: 999;
}

ul#nav a {
	text-decoration: none;
}

ul#nav a li{
	color: #444a4f;
	font-size: 17px;
	list-style: none;
	margin:20px 15px;
	padding: 0px;
  float: right;
  position: relative;
  right: 70px;
	display: inline-block;
	padding-bottom: 3px;
  transition-duration: .3s;
}

ul#nav a li:hover{
  color:#ff2626;
}

ul#nav a li#share{
  padding: 8px 25px 8px 10px;
  border:solid 1px #ff2626;
  position: relative;
  top: -8px;
  border-radius: 3px;
  color: #ff2626;
}

ul#nav a li#share::after{
  content: url("../assets/twitter.png");
  width: 15px;
  height: 15px;
  display: block;
  float: right;
  position: relative;
  right: -10px;
}


/* ---------------------------------------------------------------------- SEARCH */


::-webkit-input-placeholder { color:#B4B4B4; }
::-moz-placeholder { color:#B4B4B4; } /* firefox 19+ */
:-ms-input-placeholder { color:#B4B4B4; } /* ie */
input:-moz-placeholder { color:#B4B4B4; }

#searchWrap{
	height: 67px;
	margin: auto;
	text-align:center;
	position: relative;
	top: -360px;
	width: 539px;
}

#searchWrap p.down {
  position: relative;
  z-index: 8;
  position: relative;
  top: 40px;
}


#searchWrap:before{
	display: block;
	width: 25px;
	height: 25px;
	float: right;
  right: 20px;
	content: url(../assets/icon-search.png);
	z-index: 9;
	top: 48px;
	position: relative;
}

input.typo{
	background-color: white !important;
	display: block !important;
	border: solid 1px #ff2626 !important;
	outline: none !important;
	font-size: 20px !important;
	color: #444a4f !important;
	float: left;
	border-radius: 5px !important;
	padding-left: 20px !important;
	position: relative;
	height: 67px;
	width: 519px;
}


input.btn{
	background: #ff2626;
	border:none;
	cursor: pointer ;
	font-size: 15px;
	color: white ;
	height: 50px ;
	font-weight: 600 ;
	border-radius: 3px ;
	position: relative ;
	margin: 30px auto;
	width: 150px ;
}

input.btn:hover{
  background: #c11f1f;
  width: 154px ;
}

.small-button{
	width: 60px !important;
	font-size: 15px !important;
	position: fixed !important;
	top:-5px !important;
	float: right !important;
	right: 25px !important;
	height: 47px !important ;
	z-index: 999999999 !important;
}

.small-input{
	position: fixed !important;
	top: 25px !important;
	float: right !important;
	right: 110px !important;
	font-size: 17px !important;
	height: 45px !important;
	width: 350px !important;
	z-index: 999999999 !important;
}

/* ---------------------------------------------------------------------- BULLETS */

.tittle{
	color: #24e3a2;
	font-size: 40px;
	text-transform: uppercase;
}

#about{
	background-color: #ff2626 ;
	padding-top: 60px;
	height: 730px;
	margin:-130px auto;
	text-align: center;
	width: 100%;
}

#about #wrap{
	width: 1050px;
	height: auto;
	margin:70px auto;
	position: absolute;
	left: 0px;
	right: 0px;
}

#about h2{
	font-size: 30px;
	color: white;
	font-weight: 700;
	margin:auto;
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
}

h3{
	color: white;
	font-size: 23px;
  margin:25px auto;
  position: relative;
  text-align: center;
}

#about div{
	width: 183px;
	margin: 39px;
	float: left;
	height: auto;
}

#about div img{
	width: 126px;
	height: auto;
}

#about div p.info{
	color: white;
	font-size: 17px;
	width: 183px;
	height: auto;
	margin:28px auto;
}


/* ---------------------------------------------------------------------- FOOTER */

footer{
	background: white;
	height: 180px;
	margin: auto;
	position: absolute;
	bottom:0px;
	text-align: center;
	padding-top: 20px;
	width: 100%;
}

footer p{
  font-size: 13px;
  color: gray;
}

footer #made{
	width: 370px;
	height: 28px;
	color: #ff2626;
	font-size: 17px;
	margin:auto;
	top: 32px;
	position: relative;
}

footer #made span{
	position: relative;
	top: -15px;
}

#made span:before{
	display: block;
	float: right;
	left: -70px;
	position: relative;
	content: url(../assets/icon-love.png);
}

footer #made  a{
	text-decoration: none;
	position: relative;
	top: 20px;
}

ul.heycontact{
  width: 170px;
  height: 50px;
  padding: 0px;
  position: relative;
  top: 5px;
  margin: auto;
  list-style: none;
}

ul.heycontact li{
  display: inline-block;
}

ul.heycontact li:first-child{
  width: 55%;
  height: auto;
}

ul.heycontact li:last-child img{
  position: relative;
  top:-15px;
}

.heyandrw {
  padding-right: 10px;
}


.heyandrw img{
  width: 100%;
  height: auto;
  position: relative;
  top: -15px;
}


/* ---------------------------------------------------------------------- form */
#overlayForm{
	position: fixed;
	background: rgba(255,255,255,.8);
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	margin: auto;
	z-index: 99999;
}

#overlayForm .feedback{
	width: 600px;
	height: 700px;
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0px;
	top: -50px;
	bottom: 0px;
	background: white;
	border-radius: 7px;
	box-shadow: 0px 20px 40px rgba(0,0,0,.3);
}

#overlayForm .feedback h2{
	font-family: 'Asap', sans-serif !important;
	font-size: 30px;
	margin:20px auto 50px auto;
	position: relative;
	font-weight: 600;
	color: #ff2626;
}

#overlayForm .feedback h2:before{
	content: url(../assets/arrow.png);
	position: absolute;
	left: 0px;
	right: 0px;
	margin:auto;
	top: 30px;
}

#overlayForm .feedback label{
	font-size: 17px;
	text-align: left;
	float: left;
	left: 50px;
	position: relative;
}

#overlayForm .feedback .inputTo {
	width: 85%;
	border-radius: 4px;
	margin: 10px auto;
	height: 30px;
	position: relative;
	text-align: left;
	padding-top: 10px;
	top: 35px;
}

#overlayForm .feedback .inputTo .tag{
	display: inline-block;
	width:150px;
	height: 25px;
	text-align: left;
	position: relative;
	top: -5px;
	left: -55px;
	padding-left: 10px;
	border-radius: 4px;
	color: white;
	padding-top: 5px;
	background:#0fc587;
}

#overlayForm .feedback  #inputForm{
	width: 83%;
	border: solid 1px gray;
	outline: none;
	color: rgb(82, 81, 81);
	border-radius: 4px;
	margin: 10px auto 0px auto;
	height: 30px;
	font-size: 18px;
	position: relative;
	display: inline-block;
	text-align: left;
	top: 5px;
	padding: 5px 10px 5px 10px;
}

#overlayForm .feedback #message{
	width: 83%;
	border: solid 1px gray;
	outline: none;
	color: rgb(82, 81, 81);
	border-radius: 4px;
	margin: 10px auto 0px auto;
	height: 120px;
	font-size: 18px;
	position: relative;
	display: inline-block;
	text-align: left;
	top: 5px;
	padding: 5px 10px 5px 10px;
}

#overlayForm .feedback .btnForm{
	cursor: pointer;
	width: 150px;
	height: 50px;
	float: right;
	outline: none;
	right: 40px;
	position: relative;
	background: #ff2626;
	color: white;
	border: 0px;
	border-radius: 5px;
	font-size: 15px;
}

#overlayForm .feedback .close{
	width: 40px;
	border-radius: 20px;
	background:#0fc587;
	height:40px;
	border:solid 4px white;
	color: white;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	float: right;
	right: -20px;
	top: -20px;
	outline: none;
	cursor: pointer;
}

/* ---------------------------------------------------------------------- CONTENT */
#content{
	display: none;
	background: #f7f7f7;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	padding-top: 100px;
	overflow: scroll;
}
