#wrapWeb{
	background: url(assets/figures.png) center scroll repeat;
	background-size: 200px auto;
	display: block;
	height: 2710px;
}

#wrapWeb h3{
	font-family: 'Asap', sans-serif !important;
	font-size: 40px;
	margin:auto;
	position: relative;
	top: 85px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff2626;
}


 #wrapWeb h3:before{
 content: url(../assets/arrow.png);
 position: absolute;
 left: 0px;
 right: 0px;
 margin:auto;
 top: 40px;
}

#window{
	box-sizing: border-box;
	width: 85%;
	height: 3210px;
	margin: auto;
	padding: 0px;
	position: relative;
	top: 280px;
	border: solid 1px rgb(116, 116, 116);
}

#body_demo{
	background: white;
	width: 100%;
	margin: 0px;
	height: 3100px;
	text-align: center;
	position: relative;
}

/* ---------------------------------------------------------------------- FOLD */

#demoFold{
	background: url(assets/demos/demo-2/bg_demo2.jpg) center fixed;
	background-size: cover;
	width: 100%;
	height: 400px;
	margin: auto;
	padding-top: 200px;
	text-align: center;
}

#demoFold .tittleDemo{
	color: white;
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: left;
	position: relative;
	top: 80px;
	left: 0px;
}

#demoFold p.description{
	color: white;
	width: 420px;
	font-weight: lighter;
	margin: 20px auto;
	position: relative;
	font-size: 19px;
	position: relative;
	top: 80px;
	line-height: 30px;
}

#demoFold p.description:before{
	content: "";
	display: block;
	width: 170px;
	height: 170px;
	background: url(assets/demos/demo-2/logo.jpg) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	border-radius: 50%;
	margin-top: -281px;
	margin-left:30%;
}

#demoFold .btnDemo{
	cursor: pointer;
	border: solid 1px white;
	background: white;
	color: #371b52;
	margin: auto;
	font-size: 15px;
	border-radius: 100px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ---------------------------------------------------------------------- NAV */

#demoNav{
	position:absolute;
	background: transparent;
	width: 100%;
	height: 80px;
}

#demoNav ul{
	padding: 0px;
	top: 15px;
	float: right;
	right: 30px;
	position: relative;
}

#demoNav ul a{
	text-decoration: none;
}

#demoNav ul li{
	cursor: pointer;
	margin-left: 15px;
	font-size: 17px;
	margin-right: 15px;
	border-bottom: solid 1px white;
	color: white;
	list-style: none;
	display: inline-block;
	-webkit-transition-duration:.5s;
}

#demoNav ul li:hover{
	border-bottom: solid 2px white;
	padding-bottom: 5px;
}

div.iconlogo{
	display: none;
}

div.iconlogo img{
	width: 50px;
	height: auto;
}

/* ---------------------------------------------------------------------- CONTENT */

#content1{
	width: 750px;
	margin: 100px auto;
	height: 500px;
}
#content1 .text{
	width:700px;
	margin:auto;
	color: #44432D;
	text-align: center;
	font-size: 17px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
}

#content1 .text a{
	color: #10baf2;
}

#content1  .text:before{
	content: 'ABOUT US';
	font-size: 30px;
	position:relative;
	margin: auto;
	z-index: 0;
	top: -30px;
	color: #371b52;
	font-weight: 700;
	border-bottom: solid 2px #371b52;
	padding-bottom: 5px;
}

#content1 .img{
	height: 350px;
	overflow: hidden;
	width: 100%;
	padding: 0px;
	float: left;
	left: 0px;
	margin: 60px auto;
	position: absolute;
}

#content1 .img img{
	width: 120%;
	height: auto;
}

#content1 .img .overlay{
	position: absolute;
	width: 100%;
	height: 190px;
	color: white;
	font-size: 20px;
	padding-top: 160px;
	background: rgba(55,27,82,.9);
	-webkit-transition-duration:.5s;
}

#content1 .img:hover .overlay{
	opacity: 1;
}


#content2{
	width: 100%;
	margin: 400px auto 0px auto;
	height: 600px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

#content2 .img{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	top: 0px;
}
#content2 .img img{
	width: 100%;
	height: auto;
	top: -300px;
	position: relative;
}

#content2 .text{
	font-size: 20px;
	width: 500px;
	height: 100px;
	color:  #371b52;
	margin:50px auto;
	position: relative;
}


/* ----------------------------------------------------------------------  ARTICLE TEAM */

article#team {
	position: relative;
	top: 80px;
}


article#team .tittle2{
	font-size: 30px;
	font-weight: 700;
	margin: 40px auto;
	position: relative;
	top: 30px;
	border-bottom: solid 2px #371b52;
	padding-bottom: 5px;
	color: #371b52;
}


ul.teamPersons{
	width:950px;
	height: 300px;
	margin:70px auto;
	padding: 0px;
}

ul.teamPersons li{
	width: 250px;
	margin: 22px;
	overflow: hidden;
	list-style: none;
	text-align: center;
	display: inline-block;
}

span.infoPerson{
	overflow: hidden;
	display: block;
	color: #606060;
	width: 240px;
	padding: 4px;
	font-size: 17px;
	height: 160px;
	padding-bottom: 24px;
	padding-top: 10px;
}

ul.teamPersons li .person{
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px auto;
	position: relative;
}

ul.teamPersons li .person img {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: -33px;
	left: -70px;
}

ul.teamPersons li .btnDemo2{
	width: 150px;
	cursor: pointer;
	display: block;
	height: 35px;
	apareance: none;
	background: #371b52;
	border-radius: 100px;
	color: white;
	text-transform: uppercase;
	margin: 30px auto;
	padding-top: 18px;
	font-size: 13px;
	transition-duration: .3s;
}

ul.teamPersons li .btnDemo2:hover{
	background: #26103c;
	width: 165px;
	color: white;
}



/* ---------------------------------------------------------------------- FOOTER */

.demoFooter{
	width: 100%;
  height: 450px;
  margin: 20px auto 0px auto;
  background: #e2e2e2;
	border-top: solid 1px  #371b52;
  padding-top: 30px;
	position: relative;
	top:0px;
}

.demoFooter .wrapFooter{
	width: 800px;
	margin: auto;
	height: 500px;
}

.demoFooter .wrapFooter #address{
	float: left;
	width: 300px;
	font-size: 25px;
	color: #371b52;
	position: relative;
	top: 75px;
	line-height: 45px;
}

.demoFooter .wrapFooter form{
	width: 400px;
	float: right;
}

.demoFooter .wrapFooter form label{
	font-size: 15x;
	color: rgb(57, 57, 57);
	margin: 15px auto;
	text-align: left;
	float: left;
}

.demoFooter .wrapFooter form input{
	width: 95%;
	font-size: 17px;
	padding-left: 5%;
	height: 50px;
	border: none;
}

.btnSend{
	width: 150px;
	cursor: pointer;
	display: block;
	height: 35px;
	apareance: none;
	background: #371b52;
	border-radius: 100px;
	color: white;
	float: right;
	text-transform: uppercase;
	margin: 30px auto;
	padding-top: 18px;
	font-size: 13px;
	transition-duration: .3s;
}




/* ---------------------------------------------------------------------- EDITABLE CONTENT */
/* ---------------------------------------------------------------------- EDITABLE CONTENT */
[contenteditable="true"]:hover{
	border: dashed 2px #e55e3f;
  box-sizing: border-box;
}


[contenteditable="true"]{
	border: dashed 2px transparent;
  box-sizing: border-box;
}
