body{
	margin: 0px;
}

#wrapWeb{
	background: url(assets/figures.png) center scroll repeat;
	background-size: 200px auto;
	display: block;
	height: 2710px;
}

#wrapWeb h3{
	font-family: 'Asap', sans-serif !important;
	font-size: 40px;
	margin:auto;
	position: relative;
	top: 85px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff2626;
}

#wrapWeb  h3:before{
 content: url(assets/arrow.png);
 position: absolute;
 left: 0px;
 right: 0px;
 margin:auto;
 top: 40px;
}

#window{
	box-sizing: border-box;
	width: 85%;
	height: 3178px;
	margin: auto;
	padding: 0px;
	position: relative;
	top: 280px;
	border: solid 1px rgb(116, 116, 116);
}

#body_demo{
	background:rgb(228, 234, 236);
	width: 100%;
	margin: 0px;
	height: 3200px;
	text-align: center;
	position: relative;
}

/* ---------------------------------------------------------------------- FOLD */

#demoFold{
	background: url(assets/demos/demo-1/bg_demo1.jpg) center fixed;
	background-size: cover;
	width: 100%;
	height: 400px;
	margin: auto;
	padding-top: 200px;
	text-align: center;
}

#demoFold .tittleDemo{
	color: #10baf2;
	font-size: 50px;
	font-weight: bolder;
	text-transform: uppercase;
}

#demoFold p.description{
	color: white;
	width: 420px;
	font-weight: lighter;
	margin: 20px auto;
	text-align: center;
	font-size: 19px;
	line-height: 30px;
}

#demoFold .btnDemo{
	cursor: pointer;
	display: block;
	padding: 15px 10px 5px 10px;
	border: solid 1px white;
	background: transparent;
	color: white;
	font-size: 15px;
	width: 120px;
	margin: 70px auto 0px auto;
	height: 47px;
}

/* ---------------------------------------------------------------------- NAV */

#demoNav{
	position:absolute;
	background: rgba(0,0,0,.4);
	width: 100%;
	height: 80px;
}

#demoNav ul{
	padding: 0px;
	top: 15px;
	float: right;
	right: 30px;
	position: relative;
}

#demoNav ul a{
	text-decoration: none;
}

#demoNav ul li{
	margin-left: 15px;
	font-size: 17px;
	margin-right: 15px;
	color: white;
	list-style: none;
	display: inline-block;
}

#demoNav ul li:hover {
	color: #10baf2;
}

div.iconlogo{
	position: absolute;
	left: 30px;
	top: 2px;
	float: left;
}

div.iconlogo img{
	width: 70px;
	height: auto;
}

/* ---------------------------------------------------------------------- CONTENT */

#content1{
	width: 750px;
	margin: 150px auto;
	height: 500px;
}
#content1 .text{
	width:700px;
	margin:auto;
	color: #44432D;
	height: auto;
	padding-bottom: 24px;
	padding-top: 30px;
	text-align: center;
	font-size: 19px;
	position: relative;
	z-index: 3;
}

#content1 .text a{
	color: #10baf2;
}

#content1  .text:before{
	content: '"';
	font-size: 100px;
	position:relative;
	float: right;
	left:-50%;
	margin: auto;
	z-index: 0;
	top: -60px;
	color: #bcbcbc;
}

#content1 .img{
	height: 350px;
	overflow: hidden;
	width: 100%;
	padding: 0px;
	float: left;
	left: 0px;
	margin: 60px auto;
	position: absolute;
}

#content1 .img img{
	width: 120%;
	height: auto;
}

#content1 .img .overlay{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 190px;
	color: white;
	font-size: 20px;
	padding-top: 160px;
	background: rgba(0,0,0,.7);
	-webkit-transition-duration:.5s;
}

#content1 .img:hover .overlay{
	opacity: 1;
}


#content2{
	width: 100%;
	margin: 280px auto 0px auto;
	height: 500px;
}

#content2 .img{
	width: 80%;
	margin: 40px auto;
	height: 400px;
	border: solid 1px #10baf2;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 60px;
}
#content2 .img img{
	width: 100%;
	position: relative;
	top: -200px;
	height: auto;
}

#content2 .text{
	width: 500px;
	font-size: 18px;
	color: gray;
	margin: 100px auto;
}


/* ----------------------------------------------------------------------  ARTICLE TEAM */

article#team .tittle2{
	font-size: 30px;
	color: #10baf2;
	font-weight: 700;
	margin: 40px auto;
	position: relative;
	top: 40px;
}


ul.teamPersons{
	width:950px;
	height: 300px;
	margin:70px auto;
	padding: 0px;
}

ul.teamPersons li{
	width: 250px;
	margin: 22px;
	overflow: hidden;
	list-style: none;
	text-align: center;
	display: inline-block;
}

span.infoPerson{
	overflow: hidden;
	display: block;
	width: 240px;
	padding: 4px;
	height: auto;
	padding-bottom: 24px;
	padding-top: 10px;
}

ul.teamPersons li .person{
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px auto;
	position: relative;
}

ul.teamPersons li .person img {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	top: -33px;
	left: -70px;
}

ul.teamPersons li .btnDemo2{
	display: inline-block;
	cursor: pointer;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
	padding-right:50px;
	background: transparent;
	border: solid 1px #10baf2;
	border-radius: 3px;
	color: #10baf2;
	font-weight: 600;
	text-transform: uppercase;
	margin: 30px auto;
	font-size: 13px;
}

ul.teamPersons li .btnDemo2:hover{
	background: #10baf2;
	color: white;
}


/* ---------------------------------------------------------------------- FOOTER */

.demoFooter{
	width: 100%;
  height: 500px;
  margin: 20px auto 0px auto;
  background:  #10baf2;
	position: relative;
	top: 200px;
  padding-top: 50px;
}


.demoFooter .wrapFooter #address{
	font-size: 24px;
	color: rgb(21, 58, 84);
	margin-bottom: 50px;
}

.demoFooter .wrapFooter{
	width: 800px;
	margin: auto;
	height: 500px;
}

.demoFooter .wrapFooter form{
	width: 100%;
	float: right;
	height: 200px;
	padding-top: 30px;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
}

.demoFooter .wrapFooter form label{
	color: rgb(21, 58, 84);
	font-size: 18px;
	margin-right: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.demoFooter .wrapFooter form input{
	color: rgb(21, 58, 84);
	width: 295px;
	font-size: 16px;
	float: left;
	font-size: 18px;
	padding-left: 15px;
	margin-top: 20px;
	height: 50px;
	border: none;
}

.btnSend{
	width: 150px;
	cursor: pointer;
	display: block;
	height: 33px;
	apareance: none;
	background: transparent;
	border: solid 1px white;
	border-radius: 5px;
	color: white;
	float: left;
	left: 80px;
	position: relative;
	text-transform: uppercase;
	margin: 20px auto;
	padding-top: 18px;
	font-size: 13px;
	transition-duration: .3s;
}

.btnSend:hover{
	background: white;
	color: #10baf2;
}




/* ---------------------------------------------------------------------- EDITABLE CONTENT */

[contenteditable="true"]:hover{
	border: dashed 2px #e55e3f !important;
  box-sizing: border-box;
}


[contenteditable="true"]{
	border: dashed 2px transparent;
  box-sizing: border-box;
}
