@import url(//fonts.googleapis.com/css?family=Asap:400,700);

@font-face {
    font-family: 'Asap', sans-serif;
}


.metrics{
	background: #efefef;
	background-size: cover;
	width: 100%;
	margin: 0px;
	text-align: center;
	height: 2300px;
}

.metrics h3{
	font-family: 'Asap', sans-serif;
	font-size: 40px;
	margin:auto;
	position: relative;
	top: 80px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ff2626;
}

.metrics h3:before{
	content: url(../assets/arrow.png);
	position: absolute;
	left: 0px;
	right: 0px;
	margin:auto;
	top: 40px;
}

#body_demo{
	text-align: center;
	position: relative;
}


/* ---------------------------------------------------------------------- metrics */
.textMetrics{
	position: relative;
	z-index: 99999;
	color: #313131;
	position: relative;
	top: 200px;
}

section#rule{
	position: relative;
	top: 140px;
}

section#rule .pixels{
	color: gray;
	margin: 10px 0px 40px 0px;
	font-weight: 700;
	font-size: 20px;
}

.btnText{
	cursor: pointer;
	display: block;
	border: solid 1px #ff2626;
	color: #ff2626;
	margin: auto;
	border-radius: 10px;
	width: auto;
	float: left;
	position: relative;
	text-align: center;
	top: 0px;
	padding: 18px 25px 18px 25px;
	height: auto;
}


#textchange{
	width: 700px;
	height: 400px;
	text-align: left;
	overflow-x:scroll;
	background: white;
	border: solid 1px #c6c6c6;
	margin: auto;
	padding: 20px;

}

	input[type='range'] {
		-webkit-appearance: none;
		outline: none;
		border-radius: 5px;
		background-color: #dddddd;
		border: solid 1px #c6c6c6;
		height: 10px;
		width: 700px;
		vertical-align: middle;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		background-color: #dddddd;
		border: solid 1px #c6c6c6;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #ff2626;
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #ff2626;
		height: 20px;
		width: 20px;
	}